body {
  padding: 0;
  margin: 0;
  background-color: rgb(76, 26, 80);
  font-family: 'Roboto', sans-serif;
}
h2 {
  color: rgb(201, 147, 205);
  margin-left: 2vw;
}

table {
  margin: 0 2vw;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #dddddd69;
}

tr:nth-child(even) {
  background-color: #ddddddac;
}